<%= form_for @comment, url: comments_path, action: "create" do |form| %>
<div class="modal-header">
  <h4 class="modal-title" id="new-comment-modal">New Comment</h4>
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>
<div class="modal-body">
  <p>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
    <%= form.hidden_field :comment_id, value: @root_comment.id %>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </p>
</div>
<div class="modal-footer">
  <%= form.submit nil, class: "btn btn-primary" %><button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
</div>
<% end %>
