<!-- <h3>< @comment.title.html_safe %></h3> -->
<!-- <hr> -->
<span class="badge badge-info">
  <%= @comment.user.username.html_safe %>
</span>
<span class="container">
  <b>
    <%= @renderer.render(@comment.content).html_safe %>
  </b>
</span>
<br>
<pre class="inline comment"><%= " " * (@comment.user.username.size) %></pre>
<%= render "comment_links", tree: @tree, comment: @comment, is_mod: @is_mod %>
<hr>
<%= render @comment.replies %>
<br>
<hr>
<br>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
