<!-- <h3>< @comment.title.html_safe %></h3> -->
<!-- <hr> -->
<span class="badge badge-info">
  <%= @comment.user.username.html_safe %>
</span>
<span class="container">
  <%= @renderer.render(@comment.content).html_safe %>
</span>
<br>
<%= render "comment_links", tree: @tree, comment: @comment, is_mod: @is_mod %>
<hr>
<%= render @comment.replies %>
<br>
<hr>
<br>

<%= link_to 'Back', comments_path %>
