<h1>Threads</h1><%= link_to "+ New Thread", new_comment_thread_path %>

<script>

  jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
      window.location = $(this).data("href");
    });
  });

</script>

<table class="table table-striped table-hover table-bordered align-items-middle">
  <thead class="thead thead-dark">
    <tr>
      <th colspan="2">User</th>
      <th>Thread</th>
      <th>Replies</th>
    </tr>
  </thead>

  <tbody>
    <% @comment_threads.each do |comment_thread| %>
    <tr class='clickable-row' data-href='/greddit/<%= comment_thread.id %>/'>
      <td><img src="<%= comment_thread.user.imagelink %>" height="42" width="42"></td>
      <td><div class="container-fluid"><b><%= comment_thread.user.username %></b></div></td>
      <td><div class="container-fluid"><%= comment_thread.title %></div></td>
      <td><div class="container-fluid"><%= comment_thread.comments.size %></div></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Back', "/" %>
