
<h1><%= @project.title %></h1>

<img src="<%= @project.imagelink %>" alt="Project Image">

<p>
  <strong>Info:</strong><br>
  <% @project.text.split("\n").each do |etext| %>
    <% if etext[0..4] == "[img]" %>
      <img src="<%= etext[5..-1] %>" >
    <% else %>
      <%= etext %>
      <br>
    <% end %>
  <% end %>
</p>

<p>
  <strong>Date completed:</strong><br>
  <%= @project.date %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
