<!DOCTYPE html>
<html>
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Share+Tech+Mono|VT323" rel="stylesheet">
<% unless notice.nil? %>
<div class="notice">
  <div class="container-fluid">
    <b><%= notice %><a href="#" data-dismiss="notice" class="close">×</a></b>
  </div>
</div>
<% end %>
<% unless alert.nil? %>
<div class="alert">
  <div class="container-fluid">
    <b><%= alert %><a href="#" data-dismiss="alert" class="close">×</a></b>
  </div>
</div>
<% end %>
<head>
  <meta name="google-site-verification" content="TWGwJ7mjVeWZUANb1O2awGGxIkfS5XRYiN8JSkPgwDw" />
  <title>Henry's Website</title>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <% puts get_navtype %>
  <%= render "shared/#{get_navtype}navagation" %>

</head>

<body>
  <div id="modal-holder"></div>
  <div class='container-fluid mt-2'>

    <%= yield %>

  </div>
</body>
</html>
